
*{
    padding: 0px;
    margin:0px;
}
.container{
    width: 1000px;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse ;
    flex-wrap: wrap;

    div{
        height: 80px;
        width: 20%;
        text-align: center;
    }

    .box1
    {
        background-color: goldenrod;
    }
    .box2
    {
        background-color:blue ;
    }
    .box3
    {
        background-color: blueviolet;
    }
    .box4{
        background-color:green ;
    }
    .box5{
        background-color: red;
    }
    .box6{
        background-color: rgb(50, 18, 165);
    }
    .box7{
        background-color: rgb(189, 7, 143);
    }

}

.container2{
    width: 1000px;
    margin: 50px auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    div{
     width: 100px;
     background-color: brown;
     height: 70px;
     text-align: center;
     height: 70px;
    }
    
}

