@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

nav,
article,
main,
footer {
    width: 1256px;
    margin: 0px auto;
}

header {
    background-color: #6c6394;
    color: white;
    padding: 10px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    padding: 0px 5px;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    border-radius: 8px;
    /* Arredonda os cantos */
}

.imagem_destaque img {
    width: 100%;
}

/* Corpo do texto */

.teste img {
    border-radius: 10px;
}

main .conteudo {
    display: flex;
    justify-content: space-between;

    div {
        padding: 40px;
        text-align: center;
    }

    i {
        font-size: 100px;
        color: green;
    }

    p {
        font-size: 22px;
    }
}

.conteudo2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    div {
        width: 400px;
        margin-top: 50px;

        h2 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            margin-bottom: 10px;
        }

        img {
            width: 400px;
            border-radius: 10px;
        }
    }
}

.conteudo3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        box-shadow: 3px 5px #14271b63;
        margin-bottom: 50px;
        border-radius: 10px;

        img {
            border-radius: 10px 10px 0px 0px;
            width: 400px;
        }

        p {
            text-align: center;
            font-size: 30px;

            a {
                color: black;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.videos_de_limeira {
    h2 {
        margin-top: 50px;
        font-size: 40px;
    }

}

.mapa_da_cidade {
    h2 {
        margin-top: 50px;
        font-size: 40px;
    }
}

iframe {
    width: 100%;
    height: 60vh;
}

main p {
    font-size: 20px;
}

/* Distancias */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 1px 3px 6px #3a3030ab;
    background-color: #ffffff;
}

table,
th,
td {
    border: 3px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #d4c6c6;
}

tr:hover {
    background-color: #f1f1f1;
}

.bairros {
    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            text-align: center;
            width: 400px;
            box-shadow: 1px 3px 6px #3a30308e;
            li {
                padding: 10px;
                font-size: 20px;
                border-bottom: 1.5px solid #3a3030;
            }
            li:nth-child(old) {
                background-color: #6b5858;
            }
            li:nth-child(even) {
                background-color: #e0e0e0;
            }
        }
    }
}
.populacao {
    section {
        margin-bottom: 20px;
    }

    h1 {
        color: #0056b3;
        font-size: 24px;
        margin-bottom: 10px;
        border-bottom: 2px solid #0056b3;
        padding-bottom: 5px;
    }

    p {
        line-height: 1.6;
        font-size: 16px;
        text-align: justify;
    }

    ul {
        padding-left: 20px;
        list-style: disc;
    }

    ul li {
        margin-bottom: 10px;
        font-size: 16px;
    }

    div {
        width: 100%;
        box-shadow: 1px 3px 6px #0057b39d;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    div ul li a {
        font-size: 25px;
        color: black;
    }
}

.localizacao {
    section div {
        text-align: center;
        box-shadow: 1px 3px 6px #00b318a4;
        border-radius: 10px;
        margin-top: 50px;
        border: 1px solid #25D366;
    }

    iframe {
        border-radius: 10px;
        margin-top: 10px;
    }

    h1 {
        font-size: 30px;
    }
}

.esportes {
    padding: 20px;
    background-color: #f4f4f9;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        color: #0056b3;
        font-size: 24px;
        margin-bottom: 10px;
        border-bottom: 2px solid #0056b3;
        padding-bottom: 5px;
    }

    p {
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }

    section {
        margin-bottom: 20px;
    }

    iframe {
        display: block;
        width: 100%;
        height: 315px;
        margin: 20px 0;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
}

.listao {
    text-align: center;
    background-color: #9b8282;
    border-radius: 10px;
    list-style: none;
    padding: 20px;
    box-shadow: 1px 3px 6px #3a3030;

    li {
        padding: 10px;
        font-size: 20px;
    }
}

.pontosturisticos {
    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        font-size: 25px !important;
    }

    section .cartao {
        box-shadow: 1px 3px 8px #232323a8;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;

        div {
            display: flex;

            img {
                margin-left: 20px;
                width: 50%;
                border-radius: 10px;
            }
        }
    }

    iframe {
        border-radius: 10px;
        box-shadow: 1px 3px 8px #232323a8;
    }
}

.listaprefeitos {
    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
}

.teste {
    display: flex;
    justify-content: center;
    margin: 50px 0px;

    .imagem3 {
        width: 80%;
    }
}

.cartao {
    box-shadow: 1px 3px 6px rgba(49, 48, 48, 0.61);
    border-radius: 10px;
    padding: 10px;
}

.bairros {
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    article div {
        display: flex;
        justify-content: space-between;
    }
}

/* FOOTER */


footer {
    align-items: center;
    padding: 10px;
    background-color: #4f8073;
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 50px;

    i {
        color: #3a3030;
    }

    div a {
        font-size: 30px;
        margin-left: 20px;
    }

    .bi-facebook {
        color: blue;
    }

    .bi-youtube {
        color: red;
    }

    .bi-whatsapp {
        color: #25D366;
    }

    .bi-instagram {
        background: linear-gradient(45deg, #F58529, #D6006C, #8a3ab9, #405de6);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
}

/* Media Queries para tornar o design responsivo */

/* Estilo para telas menores que 768px (Dispositivos móveis) */
@media (max-width: 600px) {

    nav,
    article,
    main,
    footer {
        width: 100%;
        padding: 0 10px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .conteudo2 div,
    .conteudo3 div {
        width: 100%;
    }

    .conteudo3 div img,
    .conteudo2 div img {
        width: 100%;
    }

    table {
        font-size: 14px;
    }

    iframe {
        width: 100%;
        height: 20vh;
    }

    main .conteudo {
        flex-direction: column;
    }

    .pontosturisticos section .cartao div {
        flex-direction: column;
    }

    .pontosturisticos section .cartao div img {
        width: 100%;
        margin: 10px 0;
    }

    footer {
        font-size: 16px;
    }
}