@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


* {
    margin: 0px;
    /*Eliminar margens externas*/
    padding: 0px;
    /*Eliminar margens internas*/
    box-sizing: border-box;
    /*Usar Tamanos reais*/

}

:root {
    font-family: Roboto;
}

nav,
article,
main,
footer {
    width: 1250px;
    margin: 0px auto;

    /*Centralizar o site*/
}

.destaques div {
    border: 2px solid black;
}

/* CABEÇALHO*/
header {
    background-color: #5aaf94;
    color: #fff;
    padding: 10px 0px;
}

nav {
    display: flex;
    /*muda  de bloco para flex*/
    justify-content: space-between;
    /* distribui horizontalmente os filhos*/
    align-items: center;
    /*alinha verticalmente */
}

nav a {
    color: black;
    /*Cor do texto*/
    text-decoration: none;
    /* Retira o undeline "Sublinhado" */
    text-transform: uppercase;
    /*texto  em caixa alta*/
    font-size: .9rem;
    /*diminui o tamanho da letra */
    font-weight: bold;
    /* carga ou espessura "negrito"*/
    padding: 0px 10px;
}

nav a:hover {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
}

nav img {
    border-radius: 8px;
    /*arredonda os cantos*/
    width: 128px;
    height: 128px;

}

footer {
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.imagem-principal {
    width: 100%;
    /* A imagem ocupa toda a largura do seu contêiner */
    max-width: 800px;
    /* Tamanho máximo da imagem */
    margin: 20px 0;
    /* Espaço acima e abaixo da imagem */
    display: block;
    /* Garante que a imagem fique em bloco, ocupando a largura disponível */
    margin-left: auto;
    /* Centraliza a imagem horizontalmente */
    margin-right: auto;
    /* Centraliza a imagem horizontalmente */
    border-radius: 8px;
    /* Bordas arredondadas, se desejar */
}





/* Home  */


.imagem_destaque img {
    width: 100%;
}






.destaques {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    

    .card {
        width: 32%;
        border: 1px solid #ddd;
        margin-bottom: 30px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(255, 18, 129, 0.1);


        img {
            width: 100%;
            border-radius: 6px 6px 0px 0px;
            /*top-left top-right bottom left bottom right*/
        }

        p {
            font-weight: 300;
            /* font-weight usa carga  que vai de 100 a 900*/
            margin-left: 10px;
            margin-right: 10px;

        }

        a {
            color: var(--cinza_escuro);
            text-decoration: none;
        }

        a:hover {
            color: red;
        }
    }
}

 /* cidade */

video {
    width: 100%;

}

iframe {
    width: 100%;
    height: 60vh;
}

.imagem-galeria img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.links-relevantes{
    margin-left: 600px;
}

p {
    font-size: 1.2rem;
}

h2,
h3 {
    font-size: 1.8rem;
}




/* Distância */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


/* Bairro */

.tb {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tb li {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.tb li:nth-child(odd) {
    background-color: #f0f0f0;
}

.tb li:nth-child(even) {
    background-color: #e0e0e0;
}


/* pontos turisticos  */

.ponto-turistico {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.ponto-turistico h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.ponto-turistico img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
