@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cordosite: #323d51;
}
body {
    font-family: Roboto;
}

nav,article,main{
    width: 1024px;
    margin: 0px auto; 
}

header {
    background-color: var(--cordosite);
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    img{
        margin: 0px auto;
        border-radius: 8px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-transform: capitalize;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--cordosite);
    color: white;
    i {
        color: white;
    }
}

.imagem_site img {
    width: 100%;
}

iframe {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.historia {
    margin-bottom: 30px;
}

.localizacao {
    margin-bottom: 30px;
}


.pontos img {
    padding-bottom: 20px;
    width: 100%;
}


.tabela {
    border-collapse: separate;
    width: 100%;
    th{
        background-color: #ccc;
        color: var(--branco);
        padding: 8px;
        text-align: start;
    }
    th:nth-child(3){
        text-align: end;
    }
    td{
        background-color: #ccc;
        padding: 10px;
    }
    td:nth-child(3){
        text-align: end;
    }

}

h1 {
    text-align: left;
}

.imagenstops img{
    width: 100%;
}