@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/*CSS reset - redefinir padrões que são aplicados pelos navegadores*/


* {
    margin: 0px;
    /*Eliminar Margens Externas*/
    padding: 0px;
    /*Eliminar Margens intermas*/
    box-sizing: border-box;
    /*Usar Tamanhos Reais*/
}



  /*Cria Variaveis públicas que podem ser usadas em outras regras no CSS*/
:root {
    --cinza_escuro: #343a40;
    /*Criar uma Variavel*/
    --branco: #fff;
    --cinza_claro: #aaa;
    --clinza_bbb: #bbb;
    --cinza_ccc: #ccc;
    --cinza_333: #333;
  
  
}
  
  
body {
    font-family: Roboto;
    /* background-image: url("../imagens/destaque_1.png");
     background-repeat: repeat-x;      repeat no-repeat, repeat-x, repeat-y*/
}
  

nav,
article,
main,
footer {
  width: 1024px;
  margin: 0px auto;
  /*Centralizar o site*/
}

/*CABEÇALHO*/


header{
background-color: var(--cinza_escuro);
/* Usar variavel como valor */
color: var(--branco);
padding: 10px 0px;
}
 

nav{
display: flex;
/* muda de Bloco para Flex */
justify-content: space-between;
/* Distribui horizontalmente os filhos */
align-items: center;
/* alinhar verticalmente */

}
 nav a{
  color: #aaa;
  /* cor do texto */
  text-decoration: none;
  /* retire a underline */
  text-transform: uppercase;
  /* texto em caixa alta */
  font-size: .8rem;
  /* diminui o tamanho da letra */
  font-weight: bold;
  /* Carga ou espessura */

 }

 nav a:hover {
  /*Formatar o comportamento hover do link*/
  text-decoration: underline;
  /*inclui o underline*/
}



section img{
width: 100%;

}
 
.imagem_destaque img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin: 50px 0px 40px 0px;
  color: var(--cinza_escuro);
  border-bottom: 2px solid var(--cinza_claro);

}

h2 {
  font-size: 1.8rem;
  color: var(--cinza_escuro);
  margin: 40px 0px 15px 0px;
}

p {
  line-height: 170%;
  /*altura da linha*/
  margin-bottom: 10px;
  /*epaçamento entre parágrafos*/
}

li {
  line-height: 170%;
}

ul,
ol {
  margin-bottom: 10px;
  margin-left: 15px;
}

.imagens {
  display: flex;
  justify-content: space-between;

  img {
    width: 32%;
  }
}

/*FORMATAÇÃO DA HOME*/
.home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 80px;

  .card {
    width: 32%;
    border: 1px solid var(--clinza_bbb);
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px;

    img {
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      /*top-left top-right bottom right bottom left*/
    }

    p {
      font-weight: 300;
      /*font-weight usa carga que vai de 100 a 900*/
      margin-left: 10px;
      margin-right: 10px;

    }

    a {
      color: var(--cinza_escuro);
      text-decoration: none;

    }

    a:hover {
      color: gold;
    }

  }


}

/*FORMATAÇÃO DA TABELA NA PAGINA BAIRROS*/
.tabela {
  border-collapse: separate;    /*Modo de espaçamento entre as celulas*/
  width: 100%;
  

  



  th{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    padding: 8px;
    text-align: start;

  }
  th:nth-child(3){
    text-align: end;
  } 
  td{
    background-color: var(--cinza_ccc);
    padding: 10px;
  }
  td:nth-child(3){          /*pseudo classe*/ 
    text-align: end;
  }
}


/* FORMATAÇÃO DA TABELA DA PAGINA DISTANCIAS */

.Tabela2{
  border-collapse: separate;       /*modo de espaçamento entre as celulas*/
  width: 100%;

  th{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    padding: 8px;
    text-align: start;
  }
  th:nth-child(3){
    text-align: end;
  }
 td{
  background-color: var(--cinza_ccc);
 }
td:nth-child(3){
  text-align: end;

}



}




.Tabela3{
  border-collapse: separate;       /*modo de espaçamento entre as celulas*/
  width: 100%;

  th{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    padding: 8px;
    text-align: start;
  }
  th:nth-child(3){
    text-align: end;
  }
 td{
  background-color: var(--cinza_ccc);
 }
td:nth-child(3){
  text-align: end;

}



}


/* FORMATAÇÃO DA POPULAÇÃO*/
.Tabelap{
  border-collapse: separate;       /*modo de espaçamento entre as celulas*/
  width: 100%;

  th{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    padding: 8px;
    text-align: start;
  }
  th:nth-child(3){
    text-align: end;
  }
 td{
  background-color: var(--cinza_ccc);
 }
 td:nth-child(3){
  text-align: end;

 }
}
  
  


/* FORMATAÇÃO LOCALIZAÇÃO */
iframe{
  width: 100%;
  height: 30vh;
 }
 
 
 
 
 /* FORMATAÇÃO DA LISTA DE PREFEIOS */
.TabelaL{
  border-collapse: separate;       /*modo de espaçamento entre as celulas*/
  width: 100%;

  th{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    padding: 8px;
    text-align: start;
  }
  th:nth-child(3){
    text-align: end;
  }
 td{
  background-color: var(--cinza_ccc);
 }
 td:nth-child(3){
  text-align: end;

 }
 footer {
  padding: 0px 10px 10px 10px;
 }
 .home {
  display: block;
  .card{
    width: 100%;
  }
  
}
}

































/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  i {
    color: var(--cinza_claro);
  }
}



/* Versão responsiva */ 
@media screen and (max-width: 600px){
  nav,
 article,
 main,
 footer {
  width: 100%;
 
  /*Centralizar o site*/
}
nav{
  display: block;                      /*tirar o flex e voltar para block*/
  text-align: center;                  /*centralizar*/
  span{
    display: block;
  }
}
 
article, main{
  padding-left: 20px;
  padding-right: 20px;
}
.imagens {
  display: block;
 

  img {
    width: 100%;
  }


}
}